.Banner {
    color: #000;

    margin: 150px 0 0 0;
    min-height: 75vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
}

.Banner h2 {
    font-size: 2em;
    font-family: "Bungee Shade";
    text-align: center;

    color: #3a3a3a;

    margin: 0 0 1rem 0;
}

.Banner button {
    font-family: "Bungee";
    color: black;
    font-size: 1em;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 1em;
}

.Banner button:hover {
    box-shadow: 0 0 20px #000;
    cursor: pointer;
}