.App {
  text-align: center;
  background-color: #F7B9AB;
}

.NavBar {
  font-weight: normal;
  font-style: normal;

  background-color: #F7B9AB;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 1em;

  color: #eee;

  font-family: "Bungee";

  height: 50px;
}

.NavBar ul {
  display: flex;
  list-style: none;
  padding: 1em;
  color: #3a3a3a;
}

.NavBar li {
  padding: 1em;
}

.NavBar li:hover {
  color: #eee;

  font-style: italic;

}